<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <mapper namespace="com.qianfeng.sw.preceding.dto.SwDestinationMapper">
    <resultMap id="swDestinationResultMap" type="com.qianfeng.sw.preceding.dto.SwDestinationDTO">
        <id property="swDestinationId" column="sw_destination_id" javaType="java.lang.Integer"/>
        <result property="swDestinationName" column="sw_destination_name" javaType="java.lang.String"/>

    </resultMap>
</mapper>